ORDER_DB_PASSWORD=local-order-password
CONSUMER_DB_PASSWORD=local-consumer-password
KITCHEN_DB_PASSWORD=local-kitchen-password
ACCOUNTING_DB_PASSWORD=local-accounting-password
KEYCLOAK_ADMIN_PASSWORD=local-keycloak-admin-password
CONSUMER_BFF_CLIENT_SECRET=local-consumer-bff-secret
RESTAURANT_BFF_CLIENT_SECRET=local-restaurant-bff-secret
